<div class="post" data-id={{id}}>
    <header class="bg-light">
        {{#if comments}}
        <h2>{{title}}</h2>
        {{else}}
        <h2><a class="link-dark text-decoration-none" href="/post/{{id}}">{{title}}</a></h2>
        {{/if}}
        <div class="details">Posted by {{user.username}} on {{format_date date_created}}</div>
    </header>

    <p>{{text}}</p>

    {{#unless comments}}
    <div class="comment-link"><a class="link-secondary text-decoration-none" href="/post/{{id}}">Read comments</a></div>
    {{/unless}}
</div>
